.profile {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 918px) {
    .profile {
        max-width: 581px;
    }
}

@media screen and (max-width: 615px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
    }
}