.popup__btn {
    background-color: #000;
    margin: 18px 0 0;
    padding: 0;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    transition: opacity .5s ease;
    cursor: pointer;
    border-radius: 2px;
}

.popup__btn:hover {
    opacity: .8;
}

@media screen and (max-width: 615px) {
    .popup__btn {
        margin: 45px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}